.wrapper {
}

.modal-container {
    width: 800px;
    display: flex;
    z-index: 100000;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 8px 0;
    top: 12%;
    min-height: 300px;
    border-radius: 6px;
}
