.wrapper {
}

.modal-container {
    width: 800px;
    display: flex;
    z-index: 100000;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 8px 0;
    top: 12%;
    border-radius: 6px;
}

.btn-close-modal {
    position: absolute;
    top: -15px;
    right: -19px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.modal-title-login-register {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.modal-content-t-r {
    width: 300px;
    text-align: center;
    background: linear-gradient(136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -8px 0;
    border-radius: 4px;
}

.modal-title-body {
    margin-top: 10px;

    span {
        display: block;
        text-align: center;
        font-size: 12px;
        margin: 10px 0px 0px;
        text-align: center;
        color: rgb(13, 92, 182);
        cursor: pointer;
        cursor: pointer;
    }
}

.modal-title-form {
    width: 410px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        top: 132px;
        border-bottom: 1px solid rgb(224, 224, 224);
    }
}

.modal-title-header {
    margin-top: 15px;

    h2 {
        margin: 0px 0px 10px;
        font-size: 24px;
        font-weight: 500;
    }

    span {
        margin: 0px;
        font-size: 15px;
    }
}

.modal-title-input {
    display: block;
    width: 100%;
    width: 100%;
    padding: 10px 0px;
    border: none;
    font-size: 24px;
    color: rgb(36, 36, 36);
    outline: none;
    position: relative;
}

.modal-title-input-pass {
    margin-top: 26px;
}

.sub-mit-btn {
    width: 100%;

    button {
        height: 100%;
        margin: 30px 0px 10px;
        outline: none;
        border-radius: 4px;
        background: rgb(255, 66, 78);
        padding: 13px 0px;
        width: 100%;
        color: rgb(255, 255, 255);
        border: none;
        font-size: 20px;
        cursor: pointer;
    }
}

.prev-link-fb-in {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px 0px 10px;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    .prev-link-img {
        width: 58px;
        height: 58px;
        margin: 6px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

.img-banner {
    width: 203px;
    height: 203px;
}

.next-link {
    text-align: center;
    margin: 80px 0px 0px;

    span {
        display: inline-block;
        text-decoration: underline;
        margin-left: 5px;
        font-size: 11px;
        color: rgb(120, 120, 120);
    }
}
