.wrapper {
    padding: 15px 0px;
    margin: 0px auto;
    position: relative;
    height: 44px;
    display: flex;
    align-items: center;
    align-items: center;
    display: flex;

    .header-frr-t {
        width: 95%;
        overflow: hidden;
        display: flex;
        white-space: nowrap;
        overflow-y: hidden;
        align-items: center;
        height: 44px;
        // padding: 20px 0px;
        height: 44px;
        text-align: center;
    }

    a {
        font-size: 14px;
        text-decoration: none;
        padding: 0px 16px;
        color: rgb(56, 56, 61);
        display: inline-block;
    }

    span {
        display: block;
        margin-left: auto;
        margin-right: 15px;
        font-size: 16px;
        cursor: pointer;
    }
}
