.wrapper {
    margin-top: 30px;

    a {
        color: rgb(128, 128, 137);

        &:hover {
            color: rgb(128, 128, 137);
            text-decoration: underline;
        }
    }
}

.small-text {
    display: block;
    margin-bottom: 8px;
    color: rgb(128, 128, 137);
}
